{
    "routes": [
      {
        "route": "/",
        "rewrite": "/index.html"
      },
      {
        "route": "/services",
        "rewrite": "/index.html"
      },
      {
        "route": "/contact",
        "rewrite": "/index.html"
      },
      {
        "route": "/blog",
        "rewrite": "/index.html"
      },
      {
        "route": "/careers",
        "rewrite": "/index.html"
      }
    ]
  }
